@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Montserrat&family=Raleway:wght@700&family=Tajawal:wght@400;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*start nav bar section*/
.parent {
  width: 80%;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6rem;
}
nav img {
  height: 5rem;
  width: 5rem;
  padding: 0.5rem 0;
}
nav i {
  font-size: 2.5rem;
  padding: 1rem 0;
}
/* end nav bar section */
/* start home section */
.Home {
  height: 60rem;
  background-image: url(/assets/home.jpg);
  background-repeat: no-repeat;
  /* background-position: center top; */
}
.Home div {
  background-color: #332f29d3;
  height: 43rem;
  width: 43rem;
  position: relative;
  top: 10rem;
  left: 10%;
  color: white;
  font-family: "Lexend Deca", sans-serif;
  padding: 3.5rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.Home h1 {
  font-size: 4.5rem;
  font-weight: 700;
}
.Home p {
  line-height: 2.2;
  padding: 3rem 0;
  font-size: 1.2rem;
}
.Home button {
  height: 4.5rem;
  width: 17rem;
  border-color: white;
  color: white;
  background-color: #332f2900;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 2.5rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.Home button:hover {
  color: #332f29;
  background-color: white;
}
/* Small devices ( phones) */
@media (max-width: 575px) {
  .Home {
    height: 40rem;
    background-position: 70.04% 50%;
  }
  .Home div {
    height: 30rem;
    width: 20rem;
    top: 7rem;
    left: 5%;
    padding: 2rem;
  }
  .Home h1 {
    font-size: 2.3rem;
    font-weight: 700;
  }
  .Home p {
    line-height: 1.5;
    padding: 1.5rem 0;
    font-size: 1.2rem;
  }
  .Home button {
    height: 3.7rem;
    width: 13rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
}
@media (max-width: 767px) and (min-width: 575px) {
  .Home {
    height: 50rem;
    width: auto;
    background-position: 75% 50%;
  }
  .Home div {
    height: 33rem;
    width: 25rem;
    top: 7rem;
    left: 7%;
    padding: 1.5rem;
  }
  .Home h1 {
    font-size: 2.8rem;
  }
  .Home p {
    line-height: 1.5;
    padding: 1.5rem 0;
    font-size: 1.3rem;
  }
  .Home button {
    height: 3.2rem;
    width: 12rem;
    font-size: 1.2rem;
    margin-top: 1.3rem;
  }
}
@media (max-width: 991px) and (min-width: 767px) {
  .Home {
    background-position: 67.52% 50%;
  }
  .Home div {
    height: 38rem;
    width: 30rem;
    padding: 2rem;
  }
  .Home h1 {
    font-size: 3.5rem;
    margin-top: 2rem;
  }
  .Home p {
    line-height: 1.8;
    padding: 2rem 0;
    font-size: 1.3rem;
  }
  .Home button {
    margin-top: 1rem;
  }
}
/* end home section */
